<%- include('../partials/header', { title: 'Home' }) %>
    <main>

        <section id="slider">

            <div class="container mt-3">

                <div class="autoplay">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                    <img  src="https://via.placeholder.com/500" alt="Card image"
                                style="width:100%">
                </div>

            </div>


        </section>


    </main>
    <%- include('../partials/footer') %>